# This example environment is for SODAR development, to be used with the
# "run_dev.sh" script. SODAR server components are expected to be run locally
# and their settings must be configured in the sodar-server .env file.

# Docker network settings
NETWORK_BRIDGE_NAME=br-sodar-dev

# Image versions
IRODS_VERSION=4.3.0-1
SSSD_VERSION=1.16.5-10

#
# iRODS configuration
#
IRODS_HOST=irods
IRODS_PORT=1247
IRODS_ZONE=sodarZone
# Service user credentials to use, will be set on first run
IRODS_USER=rods
# Service user password, CHANGE FOR PRODUCTION
IRODS_PASS=rods
# Path to iRODS server certificate for iRODS client config (optional)
IRODS_CERT_PATH=/etc/traefik/tls/server.crt
# iRODS authentication scheme
IRODS_AUTHENTICATION_SCHEME=pam_password
# iRODS client SSL verification (set to none if self-signed cert)
IRODS_SSL_VERIFY_SERVER=none
# Secret keys used by iRODS, CHANGE FOR PRODUCTION
IRODS_ZONE_KEY=TEMPORARY_zone_key
IRODS_NEGOTIATION_KEY=TEMPORARY_32byte_negotiation_key
IRODS_CONTROL_PLANE_KEY=TEMPORARY__32byte_ctrl_plane_key
IRODS_PASSWORD_SALT=tempsalt

# iRODS server SSL settings
IRODS_CLIENT_SERVER_NEGOTIATION=request_server_negotiation
IRODS_CLIENT_SERVER_POLICY=CS_NEG_REFUSE
IRODS_SSL_CERTIFICATE_CHAIN_FILE=/etc/traefik/tls/server.crt
IRODS_SSL_CERTIFICATE_KEY_FILE=/etc/traefik/tls/server.key
IRODS_SSL_DH_PARAMS_FILE=/etc/irods/dhparams.pem

# Path for SODAR collections within zone (leave empty if in zone root)
IRODS_ROOT_PATH=
# Env overrides for backend iRODS connections (optional)
IRODS_ENV_BACKEND=irods_client_server_negotiation=off,irods_client_server_policy=CS_NEG_REFUSE,irods_ssl_verify_server=none,irods_authentication_scheme=native
# Env overrides for iRODS client config in SODAR (optional)
IRODS_ENV_CLIENT=irods_client_server_negotiation=off,irods_client_server_policy=CS_NEG_REFUSE,irods_ssl_verify_server=none,irods_authentication_scheme=PAM

# Set SSSD auth True if you are using SSSD and PAM
IRODS_SSSD_AUTH=0
# If SSSD/LDAP is not available, you can use internal SODAR auth for iRODS
IRODS_SODAR_AUTH=1
# Host for SODAR auth queries from iRODS if the former value is set true
IRODS_SODAR_API_HOST=http://host.docker.internal:8000
# Basic auth realm/prompt
SODAR_BASICAUTH_REALM="Please log in with your SODAR user name and password."

#
# SODAR Taskflow settings
#
TASKFLOW_LOCK_RETRY_COUNT=2
TASKFLOW_LOCK_RETRY_INTERVAL=3

#
# WebDAV support
#
DAVRODS_VERSION=latest
DAVRODS_ENABLE_TICKETS=1
DAVRODS_AUTH_NAME=Please log in.

#
# Sentry setup (optional)
#
SODAR_ENABLE_SENTRY=0

#
# Postgres credentials
#
# Can remain as they are for docker based deployments
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password
