SODAR_SERVER_VERSION=0.10.1-0
SODAR_TASKFLOW_VERSION=0.5.0-0
SSSD_VERSION=1.16.5-10
IRODS_VERSION=latest

# Logging
SODAR_LOGGING_LEVEL="ERROR"

# Enabled SODAR backend plugins
SODAR_ENABLED_BACKEND_PLUGINS=appalerts_backend,omics_irods,ontologyaccess_backend,sodar_cache,taskflow,timeline_backend

# Secret key used for HTTP sessions.  CHANGE FOR PRODUCTION
SODAR_DJANGO_SECRET_KEY=CHANGEMEchangemeCHANGEMEchangemeCHANGEMEchangemeCH

# Configure admin owner for folders.  User must exist
SODAR_PROJECTROLES_ADMIN_OWNER=root
# Configure default admin.  User must exist
SODAR_PROJECTROLES_DEFAULT_ADMIN=${SODAR_PROJECTROLES_ADMIN_OWNER}

# Whether local (non-LDAP) users are allowed
SODAR_PROJECTROLES_ALLOW_LOCAL_USERS=1

# Allow anonymous users to view the site
# NOTE: Also grants anonymous users access to "public" projects!
SODAR_PROJECTROLES_ALLOW_ANONYMOUS=0

# Configure default base URL for SODAR API
SODAR_API_DEFAULT_HOST=https://changeme.example.com

# Configure UI-related settings
SODAR_SITE_INSTANCE_TITLE=ACME SODAR
SODAR_SITE_SUBTITLE=Beta

#
# Configure email sending (optional)
#
SODAR_PROJECTROLES_SEND_EMAIL=0
SODAR_EMAIL_SENDER=sodar@example.com
SODAR_EMAIL_SUBJECT_PREFIX=[ACME SODAR]
SODAR_EMAIL_URL=smtp://mail.example.com
# Custom email header and footer
SODAR_PROJECTROLES_EMAIL_HEADER=
SODAR_PROJECTROLES_EMAIL_FOOTER=

#
# Configure primary LDAP connection (optional)
#
SODAR_ENABLE_LDAP=0
SODAR_AUTH_LDAP_SERVER_URI=
SODAR_AUTH_LDAP_BIND_PASSWORD=
SODAR_AUTH_LDAP_BIND_DN=
SODAR_AUTH_LDAP_USER_SEARCH_BASE=
SODAR_AUTH_LDAP_USERNAME_DOMAIN=
SODAR_AUTH_LDAP_DOMAIN_PRINTABLE=

#
# Configure secondary LDAP connection (optional; primary required to work)
#
SODAR_ENABLE_LDAP_SECONDARY=0
SODAR_AUTH_LDAP2_SERVER_URI=
SODAR_AUTH_LDAP2_BIND_PASSWORD=
SODAR_AUTH_LDAP2_BIND_DN=
SODAR_AUTH_LDAP2_USER_SEARCH_BASE=
SODAR_AUTH_LDAP2_USERNAME_DOMAIN=
SODAR_AUTH_LDAP2_DOMAIN_PRINTABLE=

#
# iRODS configuration
#
SODAR_ENABLE_IRODS=1
IRODS_HOST=irods
IRODS_PORT=1247
# The admin credentials to use.  Is setup when container is first taken up
# CHANGE FOR PRODUCTION: IRODS_PASS
IRODS_USER=rods
IRODS_PASS=rods
# The zone name
IRODS_ZONE=demoZone
# Path for SODAR collections within zone (leave empty if in zone root)
IRODS_ROOT_PATH=
# Additional env variables for backend iRODS connections (optional)
IRODS_ENV_BACKEND=
# Additional env variables for creating iRODS client config in SODAR (optional)
IRODS_ENV_CLIENT=
# File system path to iRODS server certificate for creating iRODS client config (optional)
IRODS_CERT_PATH=
# Secret keys used by iRODS.  CHANGE FOR PRODUCTION
IRODS_ZONE_KEY=TEMPORARY_zone_key
IRODS_NEGOTIATION_KEY=TEMPORARY_32byte_negotiation_key
IRODS_CONTROLPLANE_KEY=TEMPORARY__32byte_ctrl_plane_key
# Shared secret with SODAR Taskflow
TASKFLOW_SODAR_SECRET=not-so-important-with-docker
TASKFLOW_LOG_LEVEL=WARNING
TASKFLOW_DEBUG=0

#
# Enable and configure WebDAV support (optional)
#
SODAR_IRODS_WEBDAV_ENABLED=0
SODAR_IRODS_WEBDAV_URL=

#
# Postgres credentials.
#
# Can remain as they are for docker based deployments
#
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=password
